{% extends 'base.html' %}
{% block section %}

<section class="container my-5 w-50">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-primary text-white text-center py-3 rounded-top-4">
      <h4 class="mb-0">Change Password</h4>
      
    </div>
    <div class="card-body p-4">
        
        
        
      <form method="post">

        {% csrf_token %}
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label fw-semibold">New Password</label>
          <!-- <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter your email"> -->
           {{form.password}}
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label for="password" class="form-label fw-semibold">Confirm Password</label>
          <!-- <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter your password"> -->
           {{form.confirm_password}}
           {% if form.errors.confirm_password %}
           <p style="color: red;">{{form.errors.confirm_password.0}}</p>
           {% endif %}
        </div>

        <!-- Submit Button -->
        <div class="d-grid mb-3 align-items-center justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg shadow-sm">
            Change Now
          </button>
        </div>

        <!-- Extra Links -->
        <div class="text-center">
            <p id="timer"></p>
          {% if error %}<p style="color: red;">{{error}}</p>{% endif %}
          
        </div>
      </form>
    </div>
  </div>
</section>




{% endblock %}