{% extends 'base.html' %}
{% block section %}
<div class="container py-5">
  <h2>Send us your Feedback</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="message">Message</label>
      <textarea name="message" class="form-control" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
